<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>

  <appender name="STDOUT" class="ConsoleAppender">
    <encoder class="PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>

    <appender name="TEST" class="bx.util.LogAppenderTest"> </appender>


    <logger name="ROOT" level="INFO" />
   <logger name="com.zaxxer" level="INFO" />
   <logger name="org" level="INFO" />
   <logger name="com" level="INFO" />
    <logger name="bx" level="DEBUG" />

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="TEST" />
  </root>
</configuration>